{{#if isPending}}
  <em class="loading ion-loading-b"></em>
{{else}}
  {{#link-to 'run-session' this class=lastOnPage}}
    <span class="wide">
      <span>
        <b>{{format-date startTime}}</b>
        {{format-time startTime}}
      </span>
    </span>
    <span class="align-right">
      <span>
        {{format-duration duration}}
      </span>
    </span>
    <span class="align-right">
      <span>
        {{format-time endTime}}
      </span>
    </span>
    <span class="align-right">
      <span>
        {{format-distance distance}}
      </span>
    </span>
    <span class="align-right">
      <span>
        {{#if encodedTrace}}
          <em class="ion-map"></em>
        {{/if}}
        {{#if sportType}}
          <em {{bind-attr class=":sport sportType.icon"}}></em>
        {{/if}}
      </span>
    </span>
  {{/link-to}}
{{/if}}
