{{#if isPending}}
  <em class="loading ion-loading-b"></em>
{{else}}
  {{#link-to 'run-session' this class=lastOnPage}}
    <span class="wide">
      <span>
        <b>{{format-date startTime}}</b>
        {{format-time startTime}}
      </span>
    </span>
    <span class="align-right">
      <span>
        {{format-duration duration}}
      </span>
    </span>
    <span>
      <span>
        {{format-time endTime}}
      </span>
    </span>
    <span>
      <span>
        {{distance}}
      </span>
    </span>
    <span>
      {{sportTypeId}}
    </span>
  {{/link-to}}
{{/if}}
